@import "tailwindcss";

@theme {
  --color-primary-50: #e3f2fd;
  --color-primary-100: #bbdefb;
  --color-primary-200: #90caf9;
  --color-primary-300: #64b5f6;
  --color-primary-400: #42a5f5;
  --color-primary-500: #1565c0;
  --color-primary-600: #1255a1;
  --color-primary-700: #0d47a1;
  --color-primary-800: #0a3a82;
  --color-primary-900: #072c63;

  --font-sans: "M PLUS Rounded 1c", "Noto Sans JP", sans-serif;
}
